.navbar-default {
    background-color: #C3DE54;
    border-color: yellow;
}

.navbar-default > brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

#melon-pic {
    width:100%;
}